{% extends "master.html" %}

{% block content %}
    <h2>出租车更新</h2>
    <hr>
    <div>
        <h3>出租车查询</h3>
        <form action="" method="post" novalidate>
            {{ form.hidden_tag() }}
            <p>
                {{ form.cars_id.label }}<br>
                {{ form.cars_id(size=32) }}
                {% for error in form.cars_id.errors %}
                <span style="color: red;">[{{ error }}]</span>
                {% endfor %}
            </p>

            <p>{{ form.submit() }}</p>
        </form>

        {% if hotel %}
            <hr>
            <p>hotel_id: {{ hotel.cars_id }}</p>
            <p>location: {{ hotel.location }}</p>
            <p>price: {{ hotel.price }}</p>
            <p>numrooms: {{ hotel.numcars }}</p>
            <p>numavail: {{ hotel.numavail }}</p>
            <button onclick="window.location.href='/update_car_right'">修改</button>
        {% endif %}
    </div>
{% endblock %}